<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Clinica_AndreEntities" connectionString="metadata=res://*/ClinicaModel.csdl|res://*/ClinicaModel.ssdl|res://*/ClinicaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.171;Initial Catalog=Clinica_Andre;User ID=sa;Password=101010;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <!-- Definindo o tipo de autenticação -->
      <authentication mode="Forms">
        <!-- Definindo o Formulário responsável pela autenticação -->
        <forms loginUrl="wfLogin.aspx" timeout="10" />
      </authentication>
      <!-- Negando acesso a qualquer usuário não autenticado -->
      <authorization>
        <deny users="?" />
      </authorization>        
    </system.web>
  <!-- Liberando acesso a pasta css -->
  <location path="css">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- Liberando acesso a pasta Imagens -->
  <location path="Imagens">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
